__pycache__/
*.py[cod]

.ipynb_checkpoints/
*.ipynb

.venv/
venv/

.git/
.github/

mlflow_tmp/
mlruns/
artifacts/

input/
output/
logs/
submission/

train_data/
test_data/

*.csv
*.log

requirements_notebook.txt
docker-compose.yml
