POSTGRES_DB=fraud
POSTGRES_USER=fraud
POSTGRES_PASSWORD=fraud
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
POSTGRES_PORT=55432
KAFKA_PORT=9092
STREAMLIT_PORT=8501
KAFKA_UI_PORT=8080
GRAFANA_PORT=3000
SCORER_BATCH_SIZE=256
SCORER_BATCH_TIMEOUT_SECONDS=1
WRITER_BATCH_SIZE=500
WRITER_BATCH_TIMEOUT_SECONDS=1
